body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #d45d5d;
  /* background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  );  */
  /* background: linear-gradient(
    to top,
    
    #434343,
    #000000
  );  */
}

.container-navbar {
  background-color: rgb(163, 105, 29);
  display: flex;
}

/* LOGO */
.container-Logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.UA-img {
  height: 50px;
  width: 50px;
  border-radius: 25%;
  padding: 20px;
}

header h1 {
  font-size: 2.5em;
  color: #ffffff;
}
/* LOGO END */

/* NVBR ITEMS */
.navbar-items {
  background-color: aqua;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
  font-size: 18px;
  font-weight: 600;
}

.navbar-items li a {
  text-decoration: none;
}
/* NVBR ITEM END */

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.education {
  margin: 20px;
}
h1 {
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
  color: #ffffff;
  border-bottom: 2px solid #011429;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  font-size: 1.1em;
  color: #ffffff;
}
.contact-list {
  display: flex;
  gap: 20px;
}

.contact-list a {
  border-radius: 99%;
  display: flex;
  padding: 9px;
}
.contact-list img {
  height: 80px;
  width: 80px;
}

.contact-list a:hover {
  background-color: aqua;
}
footer {
  text-align: center;
  margin-top: 20px;
  color: #888;
}

footer p {
  margin: 0;
}
